<%- model_class = Video -%>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:title) %></th>
      <th><%= model_class.human_attribute_name(:link) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @videos.each do |video| %>
      <tr>
        <td><%= video.title %></td>
        <td><%= video.link %></td>
        <td><%=l video.created_at %></td>
        <td>
          <%= link_to t('.destroy', :default => t("helpers.links.Mark as viewed")),
                      video_path(video),
                      :method => :mark_as_viewed,                      
                      :class => 'btn btn-mini btn-success' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

