<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @video.title %>
</p>

<p>
  <strong>Viewed:</strong>
  <%= @video.viewed %>
</p>

<p>
  <strong>Link:</strong>
  <%= @video.link %>
</p>

<%= link_to 'Edit', edit_video_path(@video) %> |
<%= link_to 'Back', videos_path %>
